*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(97, 214, 207);
    color: rgb(255, 10, 10);
    
}
footer{
    background-color: rgb(97, 214, 207);
    color: rgb(255, 10, 10);
}