@media only screen and (max-width: 1130px) {
    nav{
        display: flex;
        position: sticky;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0rem 1rem; 
    }

    header .fa-bars{
        display: block;
        margin-top: 2rem;
    }

    .nav-intro-links{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: 1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .nav-intro-links {
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav-intro-links a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0, 0, 0,.1);
        display: block;
    }

    .introduction-video{
        display: none;
    }

    .intro-section{
        display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;
    }
    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .class-items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .card-item{
        margin: 20px ;
        padding: 45px;
        width: fit-content;
        
    }

    .lines{
        display: flex ;
        flex-direction: row;
    }
    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
    }
    .burger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 5px 3px;

    }

    .home .socials .Presence{
        padding: 10px;
    }

    .home{
        padding-top: 2rem;
    }
    .lines{
        width: 33px;
        background-color: black;
        height: 4px;
        margin: 5px 3px;
    }
}