@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

/* Header */

nav {
  display: flex;
  position: sticky;
  margin: 0rem 1rem;
  padding: 0.5rem;
  justify-content: center;
  border-bottom: 2px solid black;
  
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  position: relative;
  left: 0rem;
  top: 0rem;
  height: 80px;
  width: 80px;
  margin: 1rem;
  border: 2px solid white;
}

.Logo #branding {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  font-weight: bolder;
  padding: 0.3rem;
}

#branding:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
img {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
}

/* Search Bar */
.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}
#search {
  border: 2px solid black;
  border-radius: 0;
  justify-content: center;
  width: 50%;
  height: 20%;
  padding: 1rem auto;
  margin-right: 1rem;
}
::-webkit-input-placeholder {
  color: black;
  margin: 5px 15px;
  padding: 2px;
}

#search-btn {
  padding: 0.3rem;
}
#search-btn:hover {
  transform: scale(1.1);
  background-color: rgb(0, 98, 245);
}

/* Navigation Links */

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

nav ul li {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 20px;
  padding: 5px;
 
}

nav ul li a {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

nav ul li a:hover {
  transform: scale(1.3);
  text-decoration: underline;
  color: blue;
}

header #toggler{
  display: none;
}

header .fa-bars{
  font-size: 3rem;
  color:#333;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  border:.1rem solid rgba(0,0,0,.3);
  display: none;
}



/* Introduction Section */
.main {
  min-height: calc(100vh - 12vh - 12vh);
}

.intro-section {
  display: flex;
  margin: 1rem;
  height: 70vh;

  align-items: center;
}
.introduction-video {
  height: 50vh;
}

.introduction-text,
.introduction-video {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  width: 50%;
}
.introduction-branding {
  position: relative;


  
}
.introduction-text{
  display: flex;
  flex-direction: column;
}
brand-intro-para {
  size: 3rem;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: rem;
}

#order_button {
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  width: 50%;
  font-size: 1.2rem;
}

#order_button:hover{
  background-color: blue;
  transform: scaleX(1.2);
}

/* Product Display */

main{
  background-color: rgba(226, 235, 222, 0.857);
}
#best-seller {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#best-seller:hover {
  color: blue;
  transform: scaleX(1.2);
}

.class-items {
  display: inline-block;
  
}

img {
  border: 5px solid rgb(202, 219, 226);
}

img:hover {
  transform: scaleX(1.1);
  transition: 0.1s step-end;
}

p {
  background-color: rgba(245, 245, 245, 0.557);
  color: blue;
}

.card {
  max-width: 91vw;
  margin: 37px auto;
  font-family: "Ubuntu", sans-serif;
}

.cards {
  display: flex;
  overflow: hidden;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10%;
  padding: 1rem;
  margin: auto;
  background-color: rgba(203, 228, 193, 0.857);
}
.card-item img{
  justify-content: center;
  margin: 1rem auto 2rem auto;
  padding: .5rem;
  width: 150px;
}
.class-items {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#upcoming-products {
  display: flex;
  justify-content: center;
}

#upcoming-products:hover {
  color: blue;
  transform: scaleX(1.2);
}

#normal-products {
  display: flex;
  justify-content: center;
}

#normal-products:hover {
  color: blue;
  transform: scaleX(1.2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #f0f8ff;
  color: black;
  height: 300px;
  font-family: "Lato", sans-serif;
  border-top: 2px solid black;
  background-color: black;
  color: white;
}



.home h2 {
  font-weight: bolder;
}
.home, .socials, .Presence{
  padding: 1rem;
  width: 200px;
  height: auto;
}


h2 {
  text-align: left;
  font-size: 2rem;
  color: rgb(117, 117, 201);
}

 footer ul {
  font-size: 1.5rem;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
}


