*{
    margin: 0;
    padding: 0;
}

.wishlist-header{
    font-size: 1.5rem;
    text-align: center;

}

.wishlist-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.item{
    display: flex;
    justify-self: center;
    text-align: center;
    flex-direction: row;
    margin: 1.5rem;
}
#itemcontent1 , #itemcontent2 , #itemcontent3{
    margin: 1rem;
    padding: 1.5rem;
}

.item img{
    width: 2rem;
}